RewriteEngine On
RewriteRule ^product_catalog/resourcefile.php?ID=1438(.*)   http://paradigm.emcp.com/about-us/policies-and-order-information/ [R=301,L]
RewriteRule ^inventory(.*)      http://www.emcp.com/product_catalog/index.php?GroupID=1035$1 [R]
RewriteRule ^emcponline(.*)     http://www.emcp.com/product_catalog/index.php?GroupID=102$1 [R]
RewriteRule ^paradigmtestimonials(.*)	http://www.emcp.com/product_catalog/index.php?GroupID=677$1 [R]

RewriteRule ^litLink(.*)   http://www.emcp.com/litlink$1 [R]
RewriteRule ^litLINK(.*)   http://www.emcp.com/litlink$1 [R]
RewriteRule ^LitLink(.*)   http://www.emcp.com/litlink$1 [R]
RewriteRule ^LITLINK(.*)   http://www.emcp.com/litlink$1 [R]

## RewriteRule ^product_catalog/school/news_ticker/(.*)	http://www.emcp.com/product_catalog/index.php?GroupID=1343$1 [R=301,L]
## RewriteRule ^product_catalog/school/hit_ticker/(.*)	http://www.emcp.com/product_catalog/index.php?GroupID=1343$1 [R=301,L]
## RewriteRule ^product_catalog/school/iCatcher/(.*)	http://www.emcp.com/product_catalog/index.php?GroupID=1343$1 [R=301,L]

RewriteRule ^news_ticker(.*)	http://www.emcp.com/iculture/splash/ [R=301,L]
RewriteRule ^hit_ticker(.*)	http://www.emcp.com/iculture/splash/ [R=301,L]
RewriteRule iCatcher(.*)	http://www.emcp.com/iculture/splash/ [R=301,L]
RewriteRule /product_catalog/index.php?GroupID=1343$ http://www.emcp.com/iculture/splash/ [R=301,L]
RewriteRule ^i-culture(.*)    http://www.emcp.com/iculture/splash/ [R=301,L]
RewriteRule ^iculture$    http://www.emcp.com/iculture/ [R=301,L]

RewriteRule ^ell(.*)		http://www.emcp.com/product_catalog/index.php?GroupID=1423$1 [R]
RewriteRule ^ELL(.*)		http://www.emcp.com/product_catalog/index.php?GroupID=1423$1 [R]
RewriteRule ^mso2007(.*)	http://www.emcp.com/product_catalog/index.php?GroupID=1420$1 [R]

RewriteRule ^oregon(.*)		http://www.emcp.com/product_catalog/index.php?GroupID=1457$1 [R]
RewriteRule ^Oregon(.*)		http://www.emcp.com/product_catalog/index.php?GroupID=1457$1 [R]

RewriteRule ^APSpanish(.*)	http://www.emcp.com/product_catalog/index.php?GroupID=1411$1 [R]
RewriteRule ^apspanish(.*)	http://www.emcp.com/product_catalog/index.php?GroupID=1411$1 [R]
RewriteRule ^APspanish(.*)	http://www.emcp.com/product_catalog/index.php?GroupID=1411$1 [R]
RewriteRule ^apSpanish(.*)	http://www.emcp.com/product_catalog/index.php?GroupID=1411$1 [R]

RewriteRule ^snap2007(.*)	http://www.emcp.com/product_catalog/listonline.php?GroupID=1926$1 [R]
RewriteRule ^snap07(.*)		http://www.emcp.com/product_catalog/listonline.php?GroupID=1926$1 [R]

RewriteRule ^microsoft-certified-courseware(.*)	http://www.emcp.com/product_catalog/index.php?GroupID=2077$1 [R]
RewriteRule ^MBCP(.*)		http://www.emcp.com/product_catalog/index.php?GroupID=2077$1 [R]
RewriteRule ^mbcp(.*)		http://www.emcp.com/product_catalog/index.php?GroupID=2077$1 [R]

RewriteRule ^NECTFL07(.*)	http://www.emcp.com/product_catalog/index.php?GroupID=2084$1 [R]
RewriteRule ^nectfl07(.*)	http://www.emcp.com/product_catalog/index.php?GroupID=2084$1 [R]

RewriteRule ^cprbinder(.*)	http://www.emcp.com/product_catalog/index.php?GroupID=2011$1 [R]

RewriteRule ^exploring(.*)	http://www.emcp.com/product_catalog/index.php?GroupID=512$1 [R]
RewriteRule ^aventura/$		http://www.emcp.com/product_catalog/index.php?GroupID=2145$1 [R]
RewriteRule ^aventura$		http://www.emcp.com/product_catalog/index.php?GroupID=2145$1 [R]

RewriteRule ^amgovt/$	http://www.emcp.com/product_catalog/index.php?GroupID=2524$1 [R]
RewriteRule ^amgovt$	http://www.emcp.com/product_catalog/index.php?GroupID=2524$1 [R]
RewriteRule ^AmGovt/$	http://www.emcp.com/product_catalog/index.php?GroupID=2524$1 [R]
RewriteRule ^AmGovt$	http://www.emcp.com/product_catalog/index.php?GroupID=2524$1 [R]
RewriteRule ^amgovt-va$	http://www.emcp.com/product_catalog/index.php?GroupID=2674$1 [R]
RewriteRule ^amgovt-va/$	http://www.emcp.com/product_catalog/index.php?GroupID=2674$1 [R]
RewriteRule ^amgovtCDsampler(.*)	http://www.emcp.com/amgovtcdsampler$1 [R]

RewriteRule ^biotechnology(.*)	http://www.emcp.com/product_catalog/index.php?GroupID=684$1 [R]

RewriteRule ^zhenbang(.*)		http://www.emcp.com/world-languages/chinese/zhen-bang/ [R=301,L]
RewriteRule ^zb(.*)		http://www.emcp.com/world-languages/chinese/zhen-bang/ [R=301,L]

RewriteRule ^deutschaktuell(.*)		http://www.emcp.com/world-languages/german/deutsch-aktuell/ [R=301,L]
RewriteRule ^deutschaktuel(.*)	http://www.emcp.com/world-languages/german/deutsch-aktuell/ [R=301,L]
RewriteRule ^da(.*)		http://www.emcp.com/world-languages/german/deutsch-aktuell/ [R=301,L]

# RewriteCond %{HTTP_REFERER} ^http://www.emcponline.com/.*$ [OR,NC]
# RewriteRule    ^(.*)$		http://www.emcp.com/product_catalog/index.php?GroupID=102/    [R=301,L]

RewriteRule ^MedTransDemo(.*)	http://medtrans3e.emcp.com/ [R]
RewriteRule ^IL(.*)	http://www.emcp.com/product_catalog/index.php?GroupID=2415 [R]

#RewriteRule ^product_catalog http://www.emcp.com/swf/main.html#

RewriteRule ^cestatoi/$	http://irc.emcp.com/ircfiles/French2e/ [R]

RewriteRule ^specialaccounts    http://response.emcp.com/mw/form.php [R]
#RewriteRule ^eresources$	http://montreal.emcp.com/ebooks/login.php$1 [R]
#RewriteRule ^eResources$	http://montreal.emcp.com/ebooks/login.php$1 [R]

#RewriteRule ^biotech	http://www.emcp.com/product_catalog/index.php?GroupID=2976 [R]

RewriteRule ^mwdigitalsamplersOR	 http://www.emcp.com/mwdigitalsamplers/?source=OR [R]
RewriteRule ^mwdigitalsamplersor	 http://www.emcp.com/mwdigitalsamplers/?source=OR [R]
RewriteRule ^mwdigitalsamplersGA	 http://www.emcp.com/mwdigitalsamplers/?source=GA [R]
RewriteRule ^mwdigitalsamplersga	 http://www.emcp.com/mwdigitalsamplers/?source=GA [R]
RewriteRule ^mwdigitalsamplersSC	 http://www.emcp.com/mwdigitalsamplers/?source=SC [R]
RewriteRule ^mwdigitalsamplerssc	 http://www.emcp.com/mwdigitalsamplers/?source=SC [R]

RewriteRule ^QC	 http://www.emcp.com/world-languages/spanish/quechevere/ [R=301,L]
RewriteRule ^qc	 http://www.emcp.com/world-languages/spanish/quechevere/ [R=301,L]
RewriteRule ^quechevere$    http://www.emcp.com/world-languages/spanish/quechevere/ [R=301,L]
RewriteRule ^quechevere/$   http://www.emcp.com/world-languages/spanish/quechevere/ [R=301,L]

RewriteRule ^eReaders$	 http://www.emcp.com/ereaders/ [R=301,L]
RewriteRule ^eReaders/$	 http://www.emcp.com/ereaders/ [R=301,L]

RewriteRule ^tes-branche$   http://www.emcp.com/world-languages/french/tes-branche/ [R=301,L]
RewriteRule ^tes-branche/$   http://www.emcp.com/world-languages/french/tes-branche/ [R=301,L]
RewriteRule ^teb$   http://www.emcp.com/world-languages/french/tes-branche/ [R=301,L]
RewriteRule ^teb/comingsoon.php$   http://www.emcp.com/world-languages/french/tes-branche/ [R=301,L]
RewriteRule ^teb/message.php$   http://www.emcp.com/world-languages/french/tes-branche/ [R=301,L]
RewriteRule ^teb/movie.php$   http://www.emcp.com/world-languages/french/tes-branche/ [R=301,L]
RewriteRule ^teb/teb.php$   http://www.emcp.com/world-languages/french/tes-branche/ [R=301,L]

RewriteRule ^returns  http://store.emcp.com/policies-and-order-information/ [R=301,L]

RewriteRule ^world-languages/spanish/programs/   http://store.emcp.com/world-languages.html?language=357 [R=301,L]
RewriteRule ^world-languages/spanish/activity-books/   http://store.emcp.com/world-languages.html?emc_product_type=368&language=357 [R=301,L]
RewriteRule ^world-languages/spanish/readers/   http://store.emcp.com/world-languages.html?emc_product_type=374&language=357 [R=301,L]
RewriteRule ^world-languages/spanish/games/   http://store.emcp.com/world-languages.html?emc_product_type=523&language=357 [R=301,L]
RewriteRule ^world-languages/spanish/classroom-fun/   http://store.emcp.com/world-languages.html?emc_product_type=369&language=357 [R=301,L]

RewriteRule ^world-languages/german/programs/   http://store.emcp.com/world-languages.html?language=361 [R=301,L]
RewriteRule ^world-languages/german/activity-books/   http://store.emcp.com/world-languages.html?emc_product_type=368&language=361 [R=301,L]
RewriteRule ^world-languages/german/readers/   http://store.emcp.com/world-languages.html?emc_product_type=374&language=361 [R=301,L]
RewriteRule ^world-languages/german/games/   http://store.emcp.com/world-languages.html?emc_product_type=523&language=361 [R=301,L]
RewriteRule ^world-languages/german/classroom-fun/   http://store.emcp.com/world-languages.html?emc_product_type=369&language=361 [R=301,L]

RewriteRule ^world-languages/french/programs/   http://store.emcp.com/world-languages.html?language=362 [R=301,L]
RewriteRule ^world-languages/french/activity-books/   http://store.emcp.com/world-languages.html?emc_product_type=368&language=362 [R=301,L]
RewriteRule ^world-languages/french/readers/   http://store.emcp.com/world-languages.html?emc_product_type=374&language=362 [R=301,L]
RewriteRule ^world-languages/french/games/   http://store.emcp.com/world-languages.html?emc_product_type=523&language=362 [R=301,L]
RewriteRule ^world-languages/french/classroom-fun/   http://store.emcp.com/world-languages.html?emc_product_type=369&language=362 [R=301,L]

RewriteRule ^world-languages/chinese/programs/   http://store.emcp.com/world-languages.html?language=364 [R=301,L]
RewriteRule ^world-languages/chinese/activity-books/   http://store.emcp.com/world-languages.html?emc_product_type=368&language=364 [R=301,L]
RewriteRule ^world-languages/chinese/readers/   http://store.emcp.com/world-languages.html?emc_product_type=367&language=364 [R=301,L]
RewriteRule ^world-languages/chinese/games/   http://store.emcp.com/world-languages.html?emc_product_type=366&language=364 [R=301,L]
RewriteRule ^world-languages/chinese/classroom-fun/   http://store.emcp.com/world-languages.html?emc_product_type=369&language=364 [R=301,L]

RewriteRule ^world-languages/italian/programs/   http://store.emcp.com/world-languages.html?language=360 [R=301,L]
RewriteRule ^world-languages/italian/activity-books/   http://store.emcp.com/world-languages.html?emc_product_type=368&language=360 [R=301,L]
RewriteRule ^world-languages/italian/readers/   http://store.emcp.com/world-languages.html?emc_product_type=367&language=360 [R=301,L]
RewriteRule ^world-languages/italian/games/   http://store.emcp.com/world-languages.html?emc_product_type=366&language=360 [R=301,L]
RewriteRule ^world-languages/italian/classroom-fun/   http://store.emcp.com/world-languages.html?emc_product_type=369&language=360 [R=301,L]

RewriteRule ^classroom/games/   http://store.emcp.com/world-languages.html?emc_product_type=523 [R=301,L]
RewriteRule ^classroom/readers/   http://store.emcp.com/world-languages.html?emc_product_type=374 [R=301,L]
RewriteRule ^classroom/activity-books/   http://store.emcp.com/world-languages.html?emc_product_type=368 [R=301,L]
RewriteRule ^classroom/classroom-fun/   http://store.emcp.com/world-languages.html?emc_product_type=369 [R=301,L]

RewriteRule ^frenchreview  http://www.emcp.com/world-languages/french/tes-branche/?utm_source=magazine&utm_medium=magazine-ad&utm_campaign=FR-AD-OCT [R=301,L]

RewriteRule ^bookshelf$  http://www.emcp.com/technology/bookshelf/ [R=301,L]
RewriteRule ^bookshelf/$  http://www.emcp.com/technology/bookshelf/ [R=301,L]
RewriteRule ^iculture$  http://www.emcp.com/technology/iculture/ [R=301,L]
RewriteRule ^iculture/$  http://www.emcp.com/technology/iculture/ [R=301,L]
RewriteRule ^elpac$  http://www.emcp.com/technology/elpac/ [R=301,L]
RewriteRule ^elpac/$  http://www.emcp.com/technology/elpac/ [R=301,L]
RewriteRule ^passport$  http://www.emcp.com/technology/passport/ [R=301,L]
RewriteRule ^passport/$  http://www.emcp.com/technology/passport/ [R=301,L]

RewriteRule ^world-languages/japanese/  http://store.emcp.com/world-languages.html?language=359 [R=301,L]
RewriteRule ^world-languages/arabic/  http://store.emcp.com/world-languages.html?language=365 [R=301,L]

RewriteRule ^econ$  http://www.emcp.com/applied-learning/social-studies/economics/ [R=301,L]
RewriteRule ^econ/$  http://www.emcp.com/applied-learning/social-studies/economics/ [R=301,L]
RewriteRule ^applied-learning/economics/$  http://www.emcp.com/applied-learning/social-studies/economics/ [R=301,L]
RewriteRule ^applied-learning/economics/buy/$  http://www.emcp.com/applied-learning/social-studies/economics/buy/ [R=301,L]
RewriteRule ^applied-learning/social-studies/economics/buy/$  http://store.emcp.com/econ2e.html [R=301,L]
RewriteRule ^applied-learning/economics/sample/$    http://www.emcp.com/applied-learning/social-studies/economics/sample/ [R=301,L]
RewriteRule ^applied-learning/social-studies/economics/sample/$    http://pages.exacttarget.com/page.aspx?QS=3935619f7de112efeb1b93655fbffec25896253a61b68828 [R=301,L]

RewriteRule ^ela$  http://www.emcp.com/language-arts/ [R=301,L]
RewriteRule ^ela/$  http://www.emcp.com/language-arts/ [R=301,L]
RewriteRule ^language-arts/programs/  http://store.emcp.com/english-language-arts.html [R=301,L]
RewriteRule ^language-arts/resources/  http://store.staging.emcp.com/english-language-arts.html?emc_product_type=580 [R=301,L]
RewriteRule ^language-arts/readers/  http://store.emcp.com/english-language-arts.html?emc_product_type=367 [R=301,L]
RewriteRule ^mw$  http://www.emcp.com/language-arts/mirrors-windows/ [R=301,L]
RewriteRule ^mw/$  http://www.emcp.com/language-arts/mirrors-windows/ [R=301,L]

RewriteRule ^ela-ok$  http://www.emcp.com/mirrors-and-windows/ok/ [R=301,L]
RewriteRule ^ela-ok/$  http://www.emcp.com/mirrors-and-windows/ok/ [R=301,L]
RewriteRule ^wl-ok$  http://www.emcp.com/world-languages/adoption/ok/ [R=301,L]
RewriteRule ^wl-ok/$  http://www.emcp.com/world-languages/adoption/ok/ [R=301,L]

RewriteRule ^technology/flipgrid/$  http://emcl.com/flipgrid [R=301,L]
RewriteRule ^technology/avenue/$  http://emcl.com/avenue [R=301,L]

RewriteRule ^language-arts/expository-composition/$ http://store.emcp.com/expository-composition-discovering-your-voice-revised-edition.html    [R=301,L]
RewriteRule ^language-arts/write-in-readers/$ http://store.emcp.com/english-language-arts/the-emc-write-in-reader.html    [R=301,L]

RewriteRule ^ci$    http://store.emcp.com/catalogsearch/result/?q=caffe [R=301,L]

RewriteRule ^technology/passport/demo/$    http://pages.exacttarget.com/page.aspx?QS=3935619f7de112ef54e4749f00f0979d3d83e9a341697cff [R=301,L]
RewriteRule ^world-languages/spanish/quechevere/sample/$    http://pages.exacttarget.com/page.aspx?QS=3935619f7de112ef0a15eec3eb32f75b03d83e2df28c5590 [R=301,L]
RewriteRule ^world-languages/spanish/vale/buy/$    http://store.emcp.com/world-languages.html?emc_product_series=582&language=357&limit=all [R=301,L]
RewriteRule ^technology/iculture/demo/$    http://pages.exacttarget.com/page.aspx?QS=3935619f7de112efac66bdf3e575cc56ca6d8a873358c7f9 [R=301,L]
RewriteRule ^language-arts/mirrors-windows/sample/$    http://pages.exacttarget.com/page.aspx?QS=3935619f7de112efe835d7ad27aeaf8fece1506ad04b19a4 [R=301,L]
RewriteRule ^world-languages/chinese/zhen-bang/sample/$    http://pages.exacttarget.com/page.aspx?QS=3935619f7de112effbfa0f9e9b89480ff720aa249183e6f8 [R=301,L]
RewriteRule ^world-languages/french/tes-branche/sample/$    http://pages.exacttarget.com/page.aspx?QS=3935619f7de112ef0b6d9f67a363648ad7544b9ed343495c [R=301,L]
RewriteRule ^world-languages/german/deutsch-aktuell/sample/$    http://pages.exacttarget.com/page.aspx?QS=3935619f7de112ef7dc296945793ce5b4034abc1cc1c695a [R=301,L]
RewriteRule ^world-languages/symtalk/sample/$    http://pages.exacttarget.com/page.aspx?QS=38dfbe491fab00ea57c806cc572360ee784e04d5206dd10cf7e0b5af413b023c [R=301,L]

RewriteRule ^biotech$    http://www.emcp.com/applied-learning/applied-science/biotechnology/ [R=301,L]
RewriteRule ^biotech/$    http://www.emcp.com/applied-learning/applied-science/biotechnology/ [R=301,L]
RewriteRule ^applied-learning/applied-science/biotechnology/sample/$    http://pages.exacttarget.com/page.aspx?QS=3935619f7de112ef66f6c064ce0020a08b947a388e0245f7 [R=301,L]
RewriteRule ^applied-learning/applied-science/biotechnology/buy/$    http://store.emcp.com/applied-science/biotechnology-science-for-the-new-millennium-first-edition-revised.html [R=301,L]
RewriteRule ^applied-learning/applied-science/biotechnology/buy-kit/$    http://www.gbiosciences.com/ResearchProducts/BTSNMSupport_Materials.aspx [R=301,L]

RewriteRule ^passport-demo$  http://resources.emcp.com/passport/   [R=301,L]

RewriteRule ^FETC2015$  http://response.emcp.com/promo/   [R=301,L]

RewriteRule ^french-app$  http://store.emcp.com/les-copains-dabord    [R=301,L]

RewriteRule ^techdemo$  http://response.emcp.com/promo/   [R=301,L]

RewriteRule ^applied-learning/computer-apps/$   http://www.emcp.com/applied-learning/computer-applications/ [R=301,L]
RewriteRule ^applied-learning/computer-applications/guide-to-mso-2013/$   http://store.emcp.com/business-education-computer-skills.html?emc_product_series=385 [R=301,L]
RewriteRule ^applied-learning/computer-applications/guidelines-2013/$   http://store.emcp.com/business-education-computer-skills.html?emc_product_series=543 [R=301,L]
RewriteRule ^applied-learning/computer-applications/marquee-2013/$   http://store.emcp.com/business-education-computer-skills.html?emc_product_series=556 [R=301,L]
RewriteRule ^applied-learning/computer-applications/benchmark-2013/$   http://store.emcp.com/business-education-computer-skills.html?emc_product_series=521 [R=301,L]
RewriteRule ^applied-learning/computer-applications/sig-word-2013/$   http://store.emcp.com/business-education-computer-skills.html?emc_product_series=574 [R=301,L]

RewriteRule ^applied-learning/business-education/keyboarding/$  http://store.emcp.com/business-education-computer-skills.html?emc_product_series=549 [R=301,L]
RewriteRule ^applied-learning/business-education/computer-concepts/$  http://store.emcp.com/business-education-computer-skills.html?emc_product_series=406 [R=301,L]
RewriteRule ^applied-learning/business-education/computerized-accounting/$  http://store.emcp.com/business-education-computer-skills.html?emc_product_series=393 [R=301,L]
RewriteRule ^applied-learning/business-education/web-development/$  http://store.emcp.com/business-education-computer-skills.html?emc_product_series=584 [R=301,L]
RewriteRule ^applied-learning/business-education/legal-studies/$  http://store.emcp.com/business-education-computer-skills.html?emc_product_series=552 [R=301,L]

RewriteRule ^applied-learning/applied-science/anatomy-physiology/$  http://store.emcp.com/applied-science.html [R=301,L]

RewriteRule ^applied-learning/social-studies/personal-finance/$  http://store.emcp.com/social-studies/personal-finance-a-lifetime-responsibility.html [R=301,L]
RewriteRule ^applied-learning/social-studies/american-government/$  http://store.emcp.com/social-studies/american-government-citizenship-and-power.html [R=301,L]

RewriteRule ^applied-learning/career-life-skills/virtualjobshadow/$  http://edu.emcp.com/virtualjobshadow.html   [R=301,L]
RewriteRule ^applied-learning/career-life-skills/job-search-skills/$  http://store.emcp.com/career-and-life-skills.html   [R=301,L]
RewriteRule ^applied-learning/career-life-skills/preparing-for-career-success/$  http://store.emcp.com/career-and-life-skills/preparing-for-career-success-third-edition.html   [R=301,L]
RewriteRule ^applied-learning/career-life-skills/developing-career-living-skills/$  http://store.emcp.com/career-and-life-skills/developing-career-and-living-skills-4662.html   [R=301,L]

RewriteRule ^ca_lit$  http://store.emcp.com/mirrors-and-windows-california-public-review.html [R=301,L]
RewriteRule ^ca_lit/$  http://store.emcp.com/mirrors-and-windows-california-public-review.html [R=301,L]

RewriteRule ^404$  /404/   [R=301,L]
RewriteRule ^404/$  /404.php   [L]

RewriteRule ^georgia-overview.php http://www.emcp.com/overview/georgia/ [R=301,L]

RewriteRule ^symtalk$ http://www.emcp.com/world-languages/symtalk/ [R=301,L]
RewriteRule ^symtalk/$ http://www.emcp.com/world-languages/symtalk/ [R=301,L]

RewriteRule ^ss$ http://www.emcp.com/applied-learning/social-studies/ [R=301,L]
RewriteRule ^science$ http://www.emcp.com/applied-learning/applied-science/ [R=301,L]
RewriteRule ^activitybooks$ http://edu.emcp.com/world-languages.html?emc_product_type=368&limit=all [R=301,L]

RewriteRule ^games$ http://edu.emcp.com/world-languages.html?emc_product_type=523&limit=all [R=301,L]
RewriteRule ^classroomfun$ http://edu.emcp.com/world-languages.html?emc_product_type=369&limit=all [R=301,L]

RewriteRule ^terms-of-use http://www.emcp.com/terms/terms.php [R=301,L]
RewriteRule ^privacy-policy http://www.emcp.com/terms/privacy.php [R=301,L]

RewriteRule ^world-languages/readers/buy/ http://store.emcp.com/world-languages.html?emc_product_type=374 [R=301,L]
RewriteRule ^world-languages/readers/paperback/buy/ http://store.emcp.com/world-languages.html?emc_product_type=374 [R=301,L]

RewriteRule ^language-arts/access-editions/buy/ http://store.emcp.com/world-languages.html?emc_product_type=374 [R=301,L]
RewriteRule ^language-arts/access-editions/paper-back/buy/ http://store.emcp.com/world-languages.html?emc_product_type=374 [R=301,L]

RewriteRule ^readers$ http://www.emcp.com/world-languages/readers/ [R=301,L]

RewriteRule ^swf/ http://www.emcp.com/ [R=301,L]

ErrorDocument 404 /error.php
